version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:12.18.3
commands:
  gatsby-build:
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - restore_cache:
          name: Restore Gatsby Cache
          keys:
            - v1-gatsby-cache-
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - run:
          name: Building production files
          command: yarn build
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          name: Save Gatsby Cache
          key: v1-gatsby-cache-{{ epoch }}
          paths:
            - ./node_modules
            - ./gatsby/node_modules
            - ./gatsby/.cache
            - ./gatsby/public
  tar-file:
    steps:
      - run:
          name: Creating tar file for deployment
          command: tar -czvf $COMPRESS_FILE -C $BUILD_DIR .
      - store_artifacts:
          path: build.tar.gz
workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
jobs:
  build:
    executor: node-executor
    working_directory: ~/repo
    steps:
      - gatsby-build
      - tar-file
      - run:
          name: Deploy tar file to production
          command: scp $COMPRESS_FILE $REMOTE_CONNECTION