version: 2.1
executors:
  node-executor:
    docker:
      - image: circleci/node:12.18.3
commands:
  gatsby-build:
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - restore_cache:
          name: Restore Gatsby Cache
          keys:
            - v1-gatsby-cache-
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - run:
          name: Building production files
          command: yarn build
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          name: Save Gatsby Cache
          key: v1-gatsby-cache-{{ epoch }}
          paths:
            - ./node_modules
            - ./gatsby/node_modules
            - ./gatsby/.cache
            - ./gatsby/public
  tar-file:
    steps:
      - run:
          name: Creating tar file for deployment
          command: tar -czvf $COMPRESS_FILE -C $BUILD_DIR .
      - store_artifacts:
          path: build.tar.gz
  update-website:
    steps:
      - run:
          name: Installing dependancies
          command: |
            apt-get update
            apt-get -y install gettext-base
            apt-get -y install locate

      - run:
          shell: /bin/sh
          name: Preparing bash file for deployment
          # envsubst '${REMOTE_DIR} ${TEMP_DIR} ${COMPRESS_FILE}' < update_website.sh > update_website_out.sh
          command: envsubst '${REMOTE_DIR} ${TEMP_DIR} ${COMPRESS_FILE}' < test.sh > update_website_out.sh
      - run:
          shell: /bin/sh
          name: Running bash in remote server
          command: ssh $HOST_USER@$HOST_SERVER -p $HOST_PORT "bash -s" < $working_directory/update_website_out.sh
workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
jobs:
  build:
    executor: node-executor
    working_directory: ~/repo
    steps:
      - add_ssh_keys:
          fingerprints:
            - "52:66:0b:05:8a:e3:0b:a2:32:e1:bd:95:07:8b:ab:bb"
      - gatsby-build
      - tar-file
      - run:
          shell: /bin/sh
          name: Adding keys to config
          command: ssh-keyscan $HOST_SERVER >> ~/.ssh/config
      - run:
          shell: /bin/sh
          name: Deploy tar file to production
          command: scp build.tar.gz bristol@192.185.17.130:/home1/bristol/public_html/bristolingles.com.mx
      # - update-website