/*----------------------------------------*/
/*  Footer Style 1
/*----------------------------------------*/
.footer {
    &-area {
        position: relative;
    }

    &-widget {
        position: relative;
        max-width: 350px;
        margin: 25px auto;

        &-area {
            position: relative;
            background-color: $senary;
            padding: 160px 0px 50px;
        }

        &--h4,
        & h4 {
            color: $primaryColor;
            font-size: 18px;
            letter-spacing: 0px;
            margin-bottom: 20px;
        }
    }

    &-copyright {
        position: relative;
        background-color: $senaryLight;
        padding: 15px 0px 10px;
    }

    &-social {
        position: relative;
        text-align: right;
    }

    &-logos {
        &--outer {
            display: flex;
        }
        &--logos {
            flex-wrap: wrap;
            flex-basis: 360px;
            display: flex;

            svg:nth-of-type(2) {
                margin-left: 24px;
                margin-bottom: 48px;
            }
        }
        &--sitemap {
            padding-top: 24px;
        }
    }
}

.f-links {
    position: relative;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 0 24px;
    grid-template-columns: repeat(2, 1fr);

    li {
        position: relative;

        a {
            font-size: 16px;
            line-height: 20px;
            color: $elementsColorII;
            font-weight: $fontWeightNormal;
            letter-spacing: 0px;
            // text-transform: capitalize;

            &:hover {
                color: $primaryColor;
            }

        }
    }
}

.f-logo-text {
    position: relative;
    margin-top: -5px;

    img {
        margin-bottom: 20px;
        max-width: 60%;

        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        color: #c5c5c5;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0px;
        margin-top: 15px;
        margin-right: 30px;
    }
}

.copyright-text {
    position: relative;
    p {
        color: $primaryColor;
        font-size: 16px;
        line-height: 22px;
    }
}

.fsc-icon-list {
    position: relative;
    padding: 0px;
    list-style-type: none;
    li {
        position: relative;
        display: inline-block;
        margin: 0px 4px;
        a {
            font-size: 20px;
            color: $elementsColorII;
            display: block;
            line-height: 20px;
            &:hover {
                // background-color: $elementsColorIV;
                color: $pinkBristol;
            }
        }
    }
}
/*----------- Footer Style END ------------*/


/*----------------------------------------*/
/*  Newsletter Style
/*----------------------------------------*/

.nl {
    $backgroundColor: white;

    &-newsletter {
        position: relative;
        z-index: 1;
        margin-bottom: -100px;
    }

    &-wrapper {
        background-color: $backgroundColor;
        padding: 40px 25px;
        text-align: center;

        h4 {
            font-size: 28px;
            letter-spacing: 0px;
            line-height: 40px;
            margin: 20px auto;
        }
    }

    &-form {
        position: relative;
        max-width: 767px;
        margin: 16px auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grayBristol;
    }

    &-input {
        flex: 1;
        font-size: 16px;
        letter-spacing: 0px;
        padding: 10px 16px;
        color: $grayBristol;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $grayBristol;
        transition: background-color .2s linear;

        &:focus {
            background-color: $grayLight;
        }
    }

    &-button {
        background-color: transparent;
        color: $pinkBristol;
        border: none;
        padding: 0px 12px;
        margin-left: -54px;
        z-index: 1;
        cursor: pointer;
        @include transition(all, .5s, ease);

        &:hover {
            color: $elementsColor;
        }
    }
}

/*----------- Newsletter Style END ------------*/
