/*----------------------------------------*/
/*  Theme default CSS
/*----------------------------------------*/

.clear {
    clear: both
}

::-moz-selection {
    background: #00b0ff;
    color: $primaryColor;
    text-shadow: none;
}

::selection {
    background: #00b0ff;
    color: $primaryColor;
    text-shadow: none;
}

.no-mar {
    margin: 0!important;
}

.no-pad {
    padding: 0!important;
}

div#preloader {
    background: #fff url(../img/preloader.gif) no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

header.navbar-fixed-top {
    animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    position: fixed !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.mar-bot-50 {
    margin-bottom: 50px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.mar-bot-35 {
    margin-bottom: 35px;
}

.mar-bot-30 {
    margin-bottom: 30px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-55 {
    margin-top: 55px;
}

.mar-top-108 {
    margin-top: 108px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    // background: $primaryColor; F2F4F8
    background: #F2F4F8;
    font-weight: normal;
    // font-size: 15px; // let the device set the default
    letter-spacing: 1.5px;
    color: #888;
    line-height: 1.875;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    @include transition(all, .5s, ease);
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    letter-spacing: 1px;
}
body.mobiletoggleSlide {
    @include transition(all, .5s, ease);
    width: 100%;
}


/*
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/


/*
--------------------------
- Default Typography
--------------------------
*/

body {
    font-family: $primaryFont;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0;
    font-family: $headerFont;
    font-weight: 700;
    color: $quaternary;
    letter-spacing: 1.5px;

    a {
        font-weight: inherit;
        font-family: $headerFont;
    }
}

h1, .h1 {
    font-size: 36px;
    line-height: 70px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

h2, .h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px;
}

h3, .h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
}

h4, .h4 {
    font-size: 20px;
    line-height: 28px;
}

h5, .h5 {
    font-size: 16px;
    line-height: 24px;
}

h6, .h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: $fontWeightNormal;
    letter-spacing: 0;
    line-height: 1.75;
    margin: 0;
}

p {
    img {
        margin: 0;
    }
}

span {
    font-family: $primaryFont;
}

/* em and strong */

em {
    font: 16px/32px;
}

strong,
b {
    font: 16px/32px;
}

small {
    font-size: 12px;
    line-height: inherit;
}

/*  blockquotes */

blockquote {
    border-left: 0 none;
    font-family: $primaryFont;
    margin: 10px 0;
    padding-left: 40px;
    position: relative;
}

blockquote {
    &::before {
        color: #4e5665;
        content: "ÔÑç";
        font-family: FontAwesome;
        font-size: 36px;
        left: 20px;
        line-height: 0;
        margin: 0;
        opacity: 0.5;
        position: absolute;
        top: 20px;
    }
    p {
        font-style: italic;
        padding: 0;
        font-size: 18px;
        line-height: 36px;
    }
    cite {
        display: block;
        font-size: 12px;
        font-style: normal;
        line-height: 18px;
        &:before {
            content: "\2014 \0020";
        }
        a,
        a:visited {
            color: #8B9798;
            border: none
        }
    }
}


/* abbreviations */

abbr {
    color: #444;
    font-weight: $fontWeightBold;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .6px;
    &:hover {
        cursor: help;
    }
}

/* links */

a,
a:visited {
    text-decoration: none;
    font-family: $primaryFont;
    font-weight: $fontWeightNormal;
    font-size: 14px;
    color: #111;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}

a:hover,
a:active {
    color: #00b0ff;
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

p {
    a,
    a:visited {
    line-height: inherit;
    outline: 0;
    }
}

a.active-page {
    color: #e6ae48!important;
}


/* list */

ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
    margin: 0;
}

ol {
    list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 0px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul,
ol {
    ul,
    ol {
        margin: 0;
        li {
            margin-bottom: 0px;
        }
    }
}

li {
    line-height: 1.125;
    margin-bottom: 0px;
}

/* definition list */

dl {
    margin: 12px 0;
}

dt {
    margin: 0;
    color: #11ABB0;
}

dd {
    margin: 0 0 0 20px;
}

button {}


i[class^="flaticon-"] {
    &:before {
        font-size: inherit;
        margin: 0;
    }
}

.no-pad-top {
    padding-top: 0px;
}
.no-pad-bot {
    padding-top: 0px;
}

.section {
    &-padding {
        padding: 64px 0px;
    }
    &-titleV1 {

        position: relative;
        margin: 16px auto 24px;
        padding: 24px 0px;
        max-width: 600px;
        p {
            font-size: 20px;
            letter-spacing: 0px;
            color: $elementsColor;
            display: inline-block;
            padding: 0px;
            margin-bottom: 16px;
            font-weight: 600;
        }
        h3 {
            font-size: 36px;
            letter-spacing: 0px;
            line-height: 44px;
            color: $grayBristol;
        }
    }
    &-titleV2 {
        position: relative;
        text-align: center;
        max-width: 720px;
        margin: 24px auto;
        padding: 36px 0px;

        p {
            color: $secondaryColor;
            font-size: 16px;
            letter-spacing: 0px;
            margin: 0 auto;
            max-width: 500px;
            line-height: 26px;
        }

        h3 {
            font-size: 38px;
            letter-spacing: 0px;
            color: $tertiaryColor;
            line-height: 46px;
            margin-bottom: 15px;
        }
    }

    &-text {
        position: relative;

        p {
            font-size: 16px;
            letter-spacing: 0px;
            color: $tertiaryColor;
            line-height: 26px;
            margin-bottom: 24px;
            font-weight: $fontWeightNormal;
        }
    }
}

a.btn-style {
// .btn-style {
    &-a {
        position: relative;
        display: inline-block;
        background-color: $elementsColor;
        color: $primaryColor;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        padding: 16px 40px;
        border-radius: $borderRadius;

        &:hover {
            background-color: $elementsColorIV;
        }
    }
    &-1 {
        position: relative;
        font-size: 18px;
        letter-spacing: 0px;
        color: $primaryColor;
        background-color: $elementsColor;
        padding: 16px 30px;
        display: inline-block;

        &:hover {
            background-color: $elementsColorIV;
        }
    }
    &-1b {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        color: $primaryColor;
        background-color: $elementsColorIV;
        padding: 8px 16px;
        display: inline-block;
        border-radius: $borderRadius;

        &:hover {
            background-color: #d21616;
        }
    }
}
/* ---------- Theme default CSS END ---------- */