// Variables

//Font Variables
$secondaryFont: 'Circular Std';
$tertiaryFont : 'Poppins', sans-serif;

$primaryFont : 'Roboto', sans-serif;

// $primaryFont:
//     // Safari for macOS and iOS (San Francisco)
//     -apple-system,
//     // Chrome < 56 for macOS (San Francisco)
//     BlinkMacSystemFont,
//     // Windows
//     "Segoe UI",
//     // Android
//     Roboto,
//     // Basic web fallback
//     "Helvetica Neue", Arial,
//     // Linux
//     "Noto Sans",
//     // Sans serif fallback
//     sans-serif,
//     // Emoji fonts
//     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headerFont : 'Poppins', sans-serif;



// Color Variables
$primaryColor: #fff;
$secondaryColor: #5d6076;
$tertiaryColor: #1d252d;
$quaternary: #343A3F;
$quinary: #81868a;
$senary: #0043CE;
$senaryLight: #0F62FE;
$septenary: #2b2d3c; // bristol
$octonary: #65656f;
$nonary: #ff6600;
$denary: #474747;
$colorXI: #A2A9B0;
$colorXII: #424254;
$colorXIII: #817c90;

$elementsColor:#DA1E28;
$elementsColorII:#f3f3f3;
$elementsColorIII:#4cc083;
$elementsColorIV:#0043CE;
$elementsColorV:#fcc73e;

$pinkBristol: #E85B5C;
$grayBristol: #343A3F;
$grayLight: #f3f6f9;

$borderRadius: 4px;
$fontWeightNormal: 400;
$fontWeightBold: 700;