// Variables

//Font Variables
$secondaryFont: 'Circular Std';
$tertiaryFont : 'Poppins', sans-serif;

$primaryFont : 'Roboto', sans-serif;

// $primaryFont:
//     // Safari for macOS and iOS (San Francisco)
//     -apple-system,
//     // Chrome < 56 for macOS (San Francisco)
//     BlinkMacSystemFont,
//     // Windows
//     "Segoe UI",
//     // Android
//     Roboto,
//     // Basic web fallback
//     "Helvetica Neue", Arial,
//     // Linux
//     "Noto Sans",
//     // Sans serif fallback
//     sans-serif,
//     // Emoji fonts
//     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headerFont : 'Poppins', sans-serif;



// Color Variables
$primaryColor: #fff;
$secondaryColor: #5d6076;
$tertiaryColor: #1d252d;
$quaternary: #000;
$quinary: #8593a2;
$senary: #161a1e;
$septenary: #2b2d3c;
$octonary: #65656f;
$nonary: #ff6600;
$denary: #474747;
$colorXI: #a5a2b0;
$colorXII: #424254;
$colorXIII: #817c90;

$elementsColor:#F53C3C;
$elementsColorII:#f3f3f3;
$elementsColorIII:#4cc083;
$elementsColorIV:#3853EC;
$elementsColorV:#fcc73e;


